In [19]:
import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt
import math
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv(r"D:\All_Docs\Masters\CS 584 Machine Learning\Project\Data\cleaned_data.csv")

In [3]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,35990,2010,chevrolet,corvette grand sport,good,8 cylinders,gas,32742,clean,other,rwd,NaN,other,NaN
1,7500,2014,hyundai,sonata,excellent,4 cylinders,gas,93600,clean,automatic,fwd,NaN,sedan,NaN
2,4900,2006,bmw,x3 3.0i,good,6 cylinders,gas,87046,clean,automatic,NaN,NaN,SUV,blue
3,19500,2005,ford,f350 lariat,excellent,8 cylinders,diesel,116000,lien,automatic,4wd,full-size,pickup,blue
4,29590,2016,toyota,tacoma double cab sr5,good,6 cylinders,gas,33290,clean,other,NaN,NaN,pickup,red

In [4]:
x_train = df.copy()

In [5]:
ordinal_columns=["cylinders"]

for col in ordinal_columns:
     le = LabelEncoder()
     le.fit_transform(list(x_train[col].astype(str).values))
     x_train[col] = le.transform(list(x_train[col].astype(str).values))

In [6]:
x_train.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,35990,2010,chevrolet,corvette grand sport,good,6,gas,32742,clean,other,rwd,NaN,other,NaN
1,7500,2014,hyundai,sonata,excellent,3,gas,93600,clean,automatic,fwd,NaN,sedan,NaN
2,4900,2006,bmw,x3 3.0i,good,5,gas,87046,clean,automatic,NaN,NaN,SUV,blue
3,19500,2005,ford,f350 lariat,excellent,6,diesel,116000,lien,automatic,4wd,full-size,pickup,blue
4,29590,2016,toyota,tacoma double cab sr5,good,5,gas,33290,clean,other,NaN,NaN,pickup,red

In [7]:
x_cylmin=x_train["cylinders"].min()
x_cylmax=x_train["cylinders"].max()
x_train["cylinders"]=((x_train["cylinders"]-x_cylmin)/(x_cylmax-x_cylmin))

In [8]:
x_odomin=x_train["odometer"].min()
x_odomax=x_train["odometer"].max()
x_train["odometer"]=((x_train["odometer"]-x_odomin)/(x_odomax-x_odomin))


x_yearmin=x_train["year"].min()
x_yearmax=x_train["year"].max()
x_train["year"]=((x_train["year"]-x_yearmin)/(x_yearmax-x_yearmin))

In [9]:
x_train.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,35990,0.56,chevrolet,corvette grand sport,good,0.857143,gas,0.130950,clean,other,rwd,NaN,other,NaN
1,7500,0.72,hyundai,sonata,excellent,0.428571,gas,0.374431,clean,automatic,fwd,NaN,sedan,NaN
2,4900,0.40,bmw,x3 3.0i,good,0.714286,gas,0.348210,clean,automatic,NaN,NaN,SUV,blue
3,19500,0.36,ford,f350 lariat,excellent,0.857143,diesel,0.464049,lien,automatic,4wd,full-size,pickup,blue
4,29590,0.80,toyota,tacoma double cab sr5,good,0.714286,gas,0.133143,clean,other,NaN,NaN,pickup,red

In [25]:
max(x_train['odometer'])

1.0

In [12]:
for i in x_train.columns:
    print(i, len(x_train[i].unique()))

price 15931
year 26
manufacturer 43
condition 5
cylinders 8
fuel 5
odometer 104181
title_status 6
transmission 4
drive 4
size 5
type 14
paint_color 13

In [11]:
x_train = x_train.drop(columns=['model'])

In [17]:
xx_train=pd.get_dummies(x_train.iloc[:, 1:])

In [31]:
xx_train.head()

,year,cylinders,odometer,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
0,0.56,0.857143,0.130950,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.72,0.428571,0.374431,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.40,0.714286,0.348210,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.36,0.857143,0.464049,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.80,0.714286,0.133143,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [21]:
one_hot_enc = OneHotEncoder(handle_unknown='ignore')

In [28]:
one_hot_enc.fit(x_train.iloc[:, 1:-5])
xx_train1 = one_hot_enc.transform(x_train.iloc[:, 1:-5])

In [23]:
for i in x_train.columns:
    if x_train[i].isna().any():
        print(i)

transmission
drive
size
type
paint_color

In [30]:
xx_train1

<381581x104274 sparse matrix of type '<class 'numpy.float64'>'
	with 2671067 stored elements in Compressed Sparse Row format>

In [34]:
x_train

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color
0,35990,0.56,chevrolet,good,0.857143,gas,0.130950,clean,other,rwd,NaN,other,NaN
1,7500,0.72,hyundai,excellent,0.428571,gas,0.374431,clean,automatic,fwd,NaN,sedan,NaN
2,4900,0.40,bmw,good,0.714286,gas,0.348210,clean,automatic,NaN,NaN,SUV,blue
3,19500,0.36,ford,excellent,0.857143,diesel,0.464049,lien,automatic,4wd,full-size,pickup,blue
4,29590,0.80,toyota,good,0.714286,gas,0.133143,clean,other,NaN,NaN,pickup,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381576,14995,0.72,cadillac,excellent,0.714286,gas,0.335183,clean,automatic,4wd,mid-size,SUV,silver
381577,17895,0.88,hyundai,excellent,0.428571,gas,0.127534,clean,automatic,4wd,mid-size,SUV,white
381578,17900,0.72,cadillac,excellent,0.714286,gas,0.211998,clean,automatic,4wd,mid-size,coupe,black
381579,1300,0.48,jeep,good,0.857143,gas,0.656087,clean,automatic,4wd,mid-size,SUV,white
381580,22900,0.48,unknown,fair,1.000000,diesel,0.656087,clean,automatic,NaN,NaN,NaN,NaN

In [33]:
x_train.iloc[:, 1:-5].head()

   year manufacturer  condition  cylinders    fuel  odometer title_status
0  0.56    chevrolet       good   0.857143     gas  0.130950        clean
1  0.72      hyundai  excellent   0.428571     gas  0.374431        clean
2  0.40          bmw       good   0.714286     gas  0.348210        clean
3  0.36         ford  excellent   0.857143  diesel  0.464049         lien
4  0.80       toyota       good   0.714286     gas  0.133143        clean

In [35]:
x_train2 = x_train.drop(columns=['year', 'odometer', 'cylinders'])

In [36]:
x_train2

,price,manufacturer,condition,fuel,title_status,transmission,drive,size,type,paint_color
0,35990,chevrolet,good,gas,clean,other,rwd,NaN,other,NaN
1,7500,hyundai,excellent,gas,clean,automatic,fwd,NaN,sedan,NaN
2,4900,bmw,good,gas,clean,automatic,NaN,NaN,SUV,blue
3,19500,ford,excellent,diesel,lien,automatic,4wd,full-size,pickup,blue
4,29590,toyota,good,gas,clean,other,NaN,NaN,pickup,red
...,...,...,...,...,...,...,...,...,...,...
381576,14995,cadillac,excellent,gas,clean,automatic,4wd,mid-size,SUV,silver
381577,17895,hyundai,excellent,gas,clean,automatic,4wd,mid-size,SUV,white
381578,17900,cadillac,excellent,gas,clean,automatic,4wd,mid-size,coupe,black
381579,1300,jeep,good,gas,clean,automatic,4wd,mid-size,SUV,white
381580,22900,unknown,fair,diesel,clean,automatic,NaN,NaN,NaN,NaN

In [37]:
one_hot_enc.fit(x_train2.iloc[:, 1:-5])
xx_train1 = one_hot_enc.transform(x_train2.iloc[:, 1:-5])

In [39]:
xx_train1

<381581x59 sparse matrix of type '<class 'numpy.float64'>'
	with 1526324 stored elements in Compressed Sparse Row format>

In [40]:
xx_train2 = pd.get_dummies(x_train2.iloc[:, 1:-5])

In [41]:
xx_train2.head()

,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,manufacturer_chevrolet,manufacturer_chrysler,manufacturer_dodge,...,fuel_electric,fuel_gas,fuel_hybrid,fuel_other,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage
0,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0